/**
-----------------------------------------------------
FONT
-----------------------------------------------------
*/
@function pxToVw($size: 1, $breakpoint: 1440) {
  @return calc($size/$breakpoint) * 100vw;
}

@mixin font($font: "p") {
  $mobile-xs-target: 390;
  $mobile-target: 768;
  $tablet-target: 1024;
  $dekstop-target: 1440;

  @if ($font == "text/p") {
    $base-fs: 14;

    @media #{$mobile-xs} {
      font-size: pxToVw($base-fs, $mobile-xs-target);
    }
    @media #{$mobile} {
      font-size: pxToVw($base-fs, $mobile-target);
    }
    @media #{$tablet} {
      font-size: pxToVw($base-fs, $tablet-target);
    }
    @media #{$desktop} {
      font-size: pxToVw($base-fs, $dekstop-target);
    }
  }
  @else if ($font == "title/h1") {
    $base-fs: 28;

    @media #{$mobile-xs} {
      font-size: pxToVw($base-fs, $mobile-xs-target);
    }
    @media #{$mobile} {
      font-size: pxToVw($base-fs, $mobile-target);
    }
    @media #{$tablet} {
      font-size: pxToVw($base-fs, $tablet-target);
    }
    @media #{$desktop} {
      font-size: pxToVw($base-fs, $dekstop-target);
    }
  }
  @else if ($font == "title/h2") {
    $base-fs: 22;

    @media #{$mobile-xs} {
      font-size: pxToVw($base-fs, $mobile-xs-target);
    }
    @media #{$mobile} {
      font-size: pxToVw($base-fs, $mobile-target);
    }
    @media #{$tablet} {
      font-size: pxToVw($base-fs, $tablet-target);
    }
    @media #{$desktop} {
      font-size: pxToVw($base-fs, $dekstop-target);
    }
  }
  @else if ($font == "title/h3") {
    $base-fs: 20;

    @media #{$mobile-xs} {
      font-size: pxToVw($base-fs, $mobile-xs-target);
    }
    @media #{$mobile} {
      font-size: pxToVw($base-fs, $mobile-target);
    }
    @media #{$tablet} {
      font-size: pxToVw($base-fs, $tablet-target);
    }
    @media #{$desktop} {
      font-size: pxToVw($base-fs, $dekstop-target);
    }
  }
  @else if ($font == "title/h4") {
    $base-fs: 20;
    font-weight: 500;

    @media #{$mobile-xs} {
      font-size: pxToVw($base-fs, $mobile-xs-target);
    }
    @media #{$mobile} {
      font-size: pxToVw($base-fs, $mobile-target);
    }
    @media #{$tablet} {
      font-size: pxToVw($base-fs, $tablet-target);
    }
    @media #{$desktop} {
      font-size: pxToVw($base-fs, $dekstop-target);
    }
  }
}

/**
-----------------------------------------------------
CUSTOM PROPERTY
-----------------------------------------------------
*/
$base-length: 20px;
@mixin prop($property, $coef: 1, $important: null) {
  @media #{$mobile-xs} {
    #{$property}: $base-length * 0.25 * $coef $important;
  }
  @media #{$mobile} {
    #{$property}: $base-length * 0.5 * $coef $important;
  }
  @media #{$tablet} {
    #{$property}: $base-length * 0.75 * $coef $important;
  }
  @media #{$desktop} {
    #{$property}: $base-length * $coef $important;
  }
}

@mixin padding($coef: 1, $important: null) {
  @include prop("padding", $coef, $important);
}
@mixin gap($coef: 1, $important: null) {
  @include prop("gap", $coef, $important);
}

/**
-----------------------------------------------------
BORDER
-----------------------------------------------------
*/
$base-border-radius: 20px;
@mixin border-radius($coef: 1, $side: "all") {
  @if $side == "all" {
    @media #{$mobile-xs} {
      border-radius: $base-border-radius * 0.5 * $coef;
    }
    @media #{$mobile} {
      border-radius: $base-border-radius * 0.5 * $coef;
    }
    @media #{$tablet} {
      border-radius: $base-border-radius * 0.75 * $coef;
    }
    @media #{$desktop} {
      border-radius: $base-border-radius * $coef;
    }
  } @else if $side == "top" {
    @media #{$mobile-xs} {
      border-radius: ($base-border-radius * 0.5 * $coef)
        ($base-border-radius * $coef * 0.5) 0 0;
    }
    @media #{$mobile} {
      border-radius: ($base-border-radius * 0.5 * $coef)
        ($base-border-radius * 0.5 * $coef) 0 0;
    }
    @media #{$tablet} {
      border-radius: ($base-border-radius * 0.75 * $coef)
        ($base-border-radius * 0.75 * $coef) 0 0;
    }
    @media #{$desktop} {
      border-radius: ($base-border-radius * $coef) ($base-border-radius * $coef)
        0 0;
    }
  } @else if $side == "bottom" {
    @media #{$mobile-xs} {
      border-radius: 0 0 ($base-border-radius * $coef * 0.5)
        ($base-border-radius * $coef * 0.5);
    }
    @media #{$mobile} {
      border-radius: 0 0 ($base-border-radius * $coef * 0.5)
        ($base-border-radius * $coef * 0.5);
    }
    @media #{$tablet} {
      border-radius: 0 0 ($base-border-radius * $coef * 0.75)
        ($base-border-radius * $coef * 0.75);
    }
    @media #{$desktop} {
      border-radius: 0 0 ($base-border-radius * $coef)
        ($base-border-radius * $coef);
    }
  }
}

@mixin border($coef: 1, $color: null) {
  border: 1px solid;
  @if $color != null {
    border-color: $color;
  }
  @include border-radius($coef);
}

/**
-----------------------------------------------------
POSITIONING
-----------------------------------------------------
*/
@mixin inset($arg: 0) {
  top: $arg;
  bottom: $arg;
  left: $arg;
  right: $arg;

  @supports (inset: $arg) {
    inset: $arg;
  }
}

/**
-----------------------------------------------------
WRAPPER
-----------------------------------------------------
*/
$base-wrapper: 1440px;
@mixin wrapper($wrapper: $base-wrapper) {
  margin: 0 auto;
  max-width: $wrapper;
  width: 100%;
  @include prop("padding-inline", 1.5);
}

/**
-----------------------------------------------------
TRANSITION
-----------------------------------------------------
*/
@mixin transition($property, $duration: 0.2s, $v: ease-out) {
  transition-property: #{$property};
  transition-duration: $duration;
  transition-timing-function: $v;
}
